{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}{% endblock %}</title>
 <link href="{% static 'css/base.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <script>
    $(document).ready(function() {
        // messages timeout for 10 sec 
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 10000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').live('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>
</head>
<body>
 <div id="header">

 <span class="logo">Bookmarks</span>
 {% if request.user.is_authenticated %}
 <ul class="menu">
    <li {% if section == "dashboard" %} class="selected" {% endif %}>
        <a href="{% url 'dashboard' %}">My Dashboard</a>
    </li>
    <li {% if section == "images" %} class="selected" {% endif %}>
        <a href="#">Images</a> 

    </li>
    <li {% if section == "people" %} class="selected" {% endif %}>
        <a href="#">People</a>

    </li>
 </ul>
 {% endif %}
 <span class="user">
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li>
    Hello {{ request.user.username }},
    </li>    
    <li>
        <a href="{% url "logout" %}">  Logout  </a>
        </li>
        <li>
        <a href="{% url "settings" %}"><i class="fa fa-cog fa-spin fa-1x"></i> Settings</a>
        </li>
        {% else %}
        <li>
        <a href="{% url "login" %}">Login</a>
        </li>
        {% endif %}
        </ul>
    </span>
 </div>
 {% for message in messages %}
 <div class="message">
     {{ message }}
     <a href="#" class="del-msg">&times;</a>
 </div>
{% endfor %}
 <div id="content">
 {% block content %}
 {% endblock %}
 </div>
</body>
</html>