{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<h1>Log-in</h1>
{% if form.errors %}
<p>
    Enter the correct username and password
</p>
{% else %}
<p>
    Please use the following form to login 
</p>
{% endif %}
<div class="login-form">
    <form action="/account/dashboard" method="post">
        {{login_form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}">
        <p><input type="submit" value="Login"></p>
    </form>
</div>
{% endblock %}


